:root {
  --accent-color: #d53cd5;
  --trim-color: #00a395;
  --tint-color: #f0f7fa;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--tint-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #444;
  line-height: 1.7;
  border-top: solid 6px var(--trim-color);
  background-color: #fff;
}

header,
main,
footer {
  max-width: 650px;
  margin: 0 auto;
  padding: 2rem 2rem;
}
footer {
  border-top: solid 1px var(--tint-color);
  font-size: 0.8rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.tint {
  background-color: var(--tint-color);
}

h1 {
  font-size: 3rem;
}
h1, h2, h3 {
  margin:0;
  padding: 1rem 0 0;
  line-height: 1.2;
}

.subtitle {
  margin:0;
  padding:0;
  font-size: 1.2rem;
}

a:link,
a:visited {
  color: var(--trim-color);
}
a:hover,
a:focus {
  color: var(--accent-color);
}


.netliheart {
  margin-bottom:-0.1rem;
  width: 1rem;
}
